*{
    background-color: rgba(7, 21, 57, 0.864);
}
h3{
    background-color: rgb(245, 168, 180);
    text-align: center;
    font-weight: bolder;
    margin-top: 30px;
}
.attr1{
    background-color: orange;
    text-align: center;
    font-weight: bolder;
    margin-top: 30px;
}

.img{
    width: 500px;
    height: 400px;
}

.text-attr{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
}
div{
    margin: 5px;
    color: white;
    height: 150px;
    width: 150px;
    background-color: rgb(210, 140, 253);
    border-left: 3px solid rgb(191, 155, 225);
}
ol{
    display:inline-block;
}
li{
    background-color: rgb(222, 145, 234);
    color:white;
}
h1,h2,h3{
    display: inline;
}
/* 
selectors{ 
    property: value;
}
*/